spring:
  datasource:
    url: jdbc:postgresql://${DATABASE_HOST}/${DATABASE_NAME}?sslmode=require
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
      connection-timeout: 30000
      minimum-idle: 2

server:
  port: 8080

app:
  cors:
    allowed-origins: *


# OpenAPI / Swagger Configuration
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    tags-sorter: alpha
    operations-sorter: alpha
    display-request-duration: true
    doc-expansion: none
    default-models-expand-depth: 1
    default-model-expand-depth: 1
    try-it-out-enabled: true
  show-actuator: false
  packages-to-scan: com.moeware.ims.controller
  paths-to-match: /api/**
