spring:
  application:
    name: inventory-management-system

  profiles:
    active: dev

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate  # Let Flyway handle schema
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when-authorized

logging:
  level:
    com.moe_ims.inventory: DEBUG
    org.springframework.web: INFO
